<!DOCTYPE html>
<html>
<head>
    <title>Login | LearnHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

    <div class="login-box">
        <h2>LearnHub Login</h2>
        <p>Enter your details to continue</p>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
